<section class="setup-box js-setup-box fade-in">
    <div class="vertical">
        <form id="setup" class="setup-form" method="post" novalidate="novalidate">

            {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
            <input style="display:none;" type="text" name="fakeusernameremembered"/>
            <input style="display:none;" type="password" name="fakepasswordremembered"/>

            <header>
                <h1>Bienvenido a tu nuevo blog Ghost</h1>
                <h2>Hagamos un par de cosas antes de empezar.</h2>
            </header>
            <div class="form-group">
                <label for="blog-title">Titulo del Blog</label>
                {{input type="text" name="blog-title" autofocus="autofocus" autocorrect="off" value=blogTitle }}
                <p>Como quieres llamar tu blog?</p>
            </div>
            <div class="form-group">
                <label for="name">Nombre Completo</label>
                {{input type="text" name="name" autofocus="autofocus" autocorrect="off" value=name }}
                <p>Este nombre se mostrara como firma en tus posts</p>
            </div>
            <div class="form-group">
                <label for="email">Direccion de Email</label>
                {{input type="email" name="email" autofocus="autofocus" autocorrect="off" value=email }}
                <p>Usada para notificaciones importantes</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{input type="password" name="password" autofocus="autofocus" autocorrect="off" value=password }}
                <p>Debe ser al menos 8 caracteres</p>
            </div>
            <footer>
                <button type="submit" class="btn btn-green btn-lg" {{action "setup"}} {{bind-attr disabled=submitting}}>Ok, Hagamos esto</button>
            </footer>
        </form>
    </div>
</section>
